.ol-control button {
  border: 0;
  box-shadow: unset;
}

.ol-control button {
  background-color: #333;
  color: #fff;
}
.ol-control button:hover {
  color: #08f;
}

.ol-control.ol-print {
  left: .5em;
}
.ol-control.ol-print button {
  font-size: 1.7em;
}
@media print {
  body.ol-print-document > .ol-ext-print-dialog .ol-content {
    max-height: unset!important;
    max-width: unset!important;
    width: unset!important;
    height: unset!important;
  }
}

.ol-layerswitcher-image > button:before, .ol-layerswitcher > button:before {
  background: transparent;
  box-shadow: 0.1em 0.1em #fff;
}
.ol-layerswitcher-image > button:after, .ol-layerswitcher > button:after {
  background: #08F;
  top: 0.22em;
  left: 0.34em;
}

.ol-attribution {
  display: none;
}
.ol-attribution.ol-canvas-control {
  display: block;
}