h2.title {
  font-family: 'Cabin Sketch', cursive;
  font-size: 3em;
  color: #666;
  text-shadow: 
    2px 2px 2px #fff,
    2px -2px 2px #fff,
    -2px -2px 2px #fff,
    -2px 2px 2px #fff;
  position: fixed;
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.ol-attribution,
.ol-scale-line {
  bottom: 4.5em;
}