body {
  font-family: 'Quattrocento Sans', sans-serif;
  margin: 0;
}
h1 {
  background-color: #333;
  color: #0AF;
  margin: 0;
  padding: .2em .5em;
}

.map {
  position: fixed;
  top: 3em;
  left: 0;
  right: 0;
  bottom: 0;
}