body {
  font-family: 'Quattrocento Sans', sans-serif;
  margin: 0;
}

h1 {
  background-color: #333;
  color: #0AF;
  margin: 0;
  padding: .2em .5em;
}
a {
  color: #0AF;
}
h1 a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #0AF;
}
h1 svg {
  height: 1em;
  width: 2.2em;
  vertical-align: text-top;
}
h1 img {
  height: 1em;
  vertical-align: text-top;
}
h1 i {
  position: absolute;
  font-style: unset;
  right: 0;
  font-size: .8em;
  width: 1.2em;
  line-height: 1.2em;
  text-align: center;
  border-radius: 50%;
  background-color: #0AF;
  color: #fff;
  margin: .1em .5em;
  cursor: pointer;
}

h2 {
  color: #0AF;
  margin: 0;
}

@media (max-width: 800px) {
  h1 span {
    display: none;
  }
}

.map {
  position: fixed;
  top: 3em;
  left: 0;
  right: 0;
  bottom: 0;
}

.ol-control.ol-zoom {
  display: none;
}
.ol-control button {
  box-shadow: inset 0 0 5px #0AF;
  border: 2px solid #0AF;
}

.ol-ext-dialog > form .ol-buttons input {
  color: #0AF;
}
.ol-ext-dialog .ol-content {
  width: 40em;
}